@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

body {
  font-family: "Poppins", Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("img/background-large.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
body b {
  color: #ffbf00;
}
/* sessão 1 PG 1.0*/

.content-main {
  max-width: 1460px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  position: relative;
}

.contentTitle {
  max-width: 1460px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  gap: 875px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  padding: 20px;
}

.title {
  margin: 0;
  font-weight: bold;
  color: #ffffff;
}

nav li {
  margin-left: auto;
}

.navegacao {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.botaoNav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.botaoNav li {
  margin: 0 10px;
  color: #ffffff;
}

.botaoNav a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 25px;
}

/* Contêiner principal para article e aside */
.content-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  background-color: #000000;
}

article {
  flex: 1;
  margin-right: 20px;
  color: #ffffff;
  position: relative;
  z-index: 1;
}

.h2 {
  margin: 0;
  font-weight: 700;
  font-size: 60px;
  max-width: 25ch;
}

.sectionHome1 {
  margin-top: 20px;
  font-weight: 400;
  font-size: 25px;
  max-width: 40ch;
  line-height: 40px;
  color: #b2b2b2;
  position: relative;
}

.botaoSection1 a {
  display: inline-block;
  padding: 20px;
  background-color: #ffbf00;
  color: #332200;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 30px;
  font-weight: 600;
}

aside {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.imgSection1 img {
  max-width: 100%;
  height: auto;
  position: relative;
}

.imgOverFlow {
  top: 90px; /* Ajuste conforme necessário */
  right: -15px; /* Ajuste conforme necessário */
  z-index: 0; /* Certifica-se de que a imagem esteja atrás do conteúdo */
}
.sectionHome1::after {
  content: "";
  position: absolute;
  background-image: url("./img/detalhe\ dir.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  height: 65px;
  bottom: 0;
  left: 0;
  bottom: -20px;
  left: -455px;
}

/* Contudo 2 da pg home 1 */

.content-article2 {
  display: flex;
  max-width: 1460px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 240px;
  margin-bottom: 150px;
}

.title2 {
  font-size: 50px;
  margin-left: 220px;
  color: #000000;
}

.bikesHome2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.conteudoArticle2 {
  position: relative;
}

.conteudoArticle2 h3 {
  font-size: 28px;
  margin-left: 20px;
  color: #111111;
}
.conteudoArticle2 span {
  color: #595959;
  margin-left: 20px;
  font-size: 20px;
}

.conteudoArticle2::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url(./img/Rectangle\ 35.svg);
  background-repeat: no-repeat;
  top: 570px;
  left: 0;
}

/* Terceiro Conteudo home 1 */

.content-article3 {
  max-width: 1460px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  position: relative;
}

.conteudoArticle3 h2 {
  margin-top: 80px;
  color: #b2b2b2;
  font-size: 20px;
  font-weight: 300;
}

.conteudoArticle3 h3 {
  font-size: 64px;
  max-width: 16ch;
  font-weight: 550;
  margin: 30px 0;
  line-height: 70px;
}

.conteudoArticle3 p {
  max-width: 40ch;
  color: #b2b2b2;
  font-size: 24px;
  margin-bottom: 20px;
}

.conteudoArticle3 a {
  color: #ffbf00;
  font-size: 25px;
  font-weight: 300;
}

.opcoesBike {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 150px;
}

.opcoesBike p {
  color: #b2b2b2;
}

.motorEletrico,
.rastreador {
  max-width: 30ch;
  position: relative;
}
.motorEletrico::before {
  content: "";
  background-image: url(./img/detalheBikeEletrica.svg);
  position: absolute;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  bottom: 170px;
}

.rastreador::before {
  content: "";
  background-image: url(./img/icones/rastreador.svg);
  position: absolute;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  bottom: 170px;
}

.imgAside2 {
  max-width: 100%;
  height: auto;
  position: relative;
}

.imgOverFlow2 {
  position: relative;
  margin-top: -80px; /* Ajuste para ultrapassar o topo */
  margin-bottom: -80px; /* Ajuste para ultrapassar a parte inferior */
  z-index: 1;
}

/* Tela Parceiros */
.content-article4 {
  display: flex;
  max-width: 1460px;
  justify-content: space-between;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 240px;
  margin-bottom: 150px;
}
.parceiros {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5px;
  position: relative;
}

.titleParceiros {
  display: flex;
  color: #000000;
  padding: 20px;
  margin-left: 110px;
  font-size: 40px;
}

.parceiros img {
  flex: 1 1 calc(20% - 10px);
  padding: 50px;
  margin: 5px;
  max-width: 200px;
}

.parceiros::before {
  content: "";
  background-image: url(./img/dec/line\ Parceiros.svg);
  position: absolute;
  width: 1500px;
  height: 2px;
  background-repeat: no-repeat;
  top: 175px;
  left: 25px;
}
.parceiros::after {
  content: "";
  background-image: url(./img/dec/line\ vertical\ Parceiros.svg);
  position: absolute;
  width: 1px;
  height: 320px;
  background-repeat: repeat;
  top: 10px;
}

/* PARTE 5 HOME */
/* Container Principal */
.content-container-ana {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  background-color: #ffbf00;
}

/* Conteúdo Central */
.content-ana {
  max-width: 1460px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

/* Configuração da Seção Principal */
.ana {
  display: flex;
  position: relative;
  background-color: #ffbf00;
  gap: 100px;
}

/* Imagem que ocupa metade do fundo */
.half-background {
  width: 50%;
  object-fit: cover;
}

/* Estilo do Parágrafo */
.paragrafoAna {
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: #332200;
  position: relative;
}

/* Estilo dos Parágrafos dentro da Classe paragrafoAna */
.paragrafoAna p {
  align-items: center;
  color: #664400;
  margin-bottom: 80px;
  font-size: 24px;
  font-weight: 700;
}

/* Estilo específico para o Parágrafo com a Classe textAna */
.textAna {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Merriweather", serif;
  font-size: 36px;
  margin-top: 296px;
  max-width: 25ch;
  font-weight: 700;
}

/* Decorações antes e depois da Seção ana */
.ana::before,
.ana::after,
.paragrafoAna::before,
.paragrafoAna::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
}

/* Decoração antes da Seção ana */
.ana::before {
  background-image: url(./img/dec/baixo.svg);
  top: 460px;
  left: 1270px;
}

/* Decoração depois da Seção ana */
.ana::after {
  background-image: url(./img/dec/cima.svg);
  bottom: 290px;
  right: 465px;
}

/* Decoração antes da Seção paragrafoAna */
.paragrafoAna::before {
  background-image: url(./img/dec/top-left-p.svg);
  width: 52px;
  height: 52px;
  top: -40px;
  left: -100px;
}

/* Decoração depois da Seção paragrafoAna */
.paragrafoAna::after {
  background-image: url(./img/dec/top-right2.svg);
  width: 52px;
  height: 52px;
  bottom: -25px;
  right: -150px;
}

/* SEGUROS HOME PG */

.content-article5 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  background-color: #111111;
}

.content-seguros {
  max-width: 1460px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  position: relative;
}
.seguro {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
}

.seguroPrata {
  display: flex;
  flex-direction: row;
  background-color: #000000;
  gap: 100px;
  border-radius: 4px;
}
.seguroOuro {
  display: flex;
  flex-direction: row;
  background-color: #000000;
  gap: 100px;
  border-radius: 4px;
}
.listSeguroPrata ul {
  list-style-type: none;
}
.listSeguroPrata li {
  margin-top: 20px;
  margin-left: 32px;
}
.content-seguros h2 {
  font-size: 54px;
}
.listSeguroPrata {
  display: flex;
  flex-direction: column;
}
.listSeguroPrata span {
  display: flex;
  justify-content: center;
  padding: 10px 10px;
  background-color: #2e2e2e;
  margin: 32px;
  border-radius: 4px;
}
.valorSeguroPrata {
  display: flex;
  padding: 10px;
  flex-direction: column;
  margin: 20px;
}
.valorSeguroPrata p {
  margin-top: -8px;
  margin-left: 70px;
  font-size: 12px;
}
.valorSeguroPrata span {
  font-size: 38px;
  background-color: #000000 !important;
}
.valorSeguroOuro {
  display: flex;
  padding: 10px;
  flex-direction: column;
  margin: 20px;
}
.valorSeguroOuro p {
  margin-top: -8px;
  margin-left: 70px;
  font-size: 12px;
}
.valorSeguroOuro span {
  font-size: 38px;
  background-color: #000000 !important;
}
.listSeguroOuro ul {
  list-style-type: none;
}
.listSeguroOuro li {
  margin-top: 20px;
  margin-left: 32px;
}

.listSeguroOuro {
  display: flex;
  flex-direction: column;
}
.listSeguroOuro span {
  display: flex;
  justify-content: center;
  padding: 10px 10px;
  background-color: #ffbb00;
  margin: 32px;
  border-radius: 4px;
  color: #332200;
  font-weight: 600;
}
.seguroPrata h3 {
  color: #9c9c9c;
  margin: 32px 64px;
  font-size: 36px;
  font-weight: 500;
}
.seguroOuro h3 {
  color: #ffbb00;
  margin: 32px 64px;
  font-size: 36px;
  font-weight: 500;
}
.valorSeguroOuro span {
  font-size: 38px;
  background-color: #000000 !important;
}
.itensSeguroPrata {
  list-style: none;
  padding: 0;
  margin: 0;
}
.itensSeguroPrata li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 10px;
}
.itensSeguroOuro {
  list-style: none;
  padding: 0;
  margin: 0;
}
.itensSeguroOuro li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 10px;
}

/*Footer*/

footer {
  display: flex;
  flex-wrap: wrap;
  gap: 140px;
}

.content-containerFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
}
.content-Footer {
  max-width: 1460px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  position: relative;
}
.imgFooter {
  margin-top: 80px;
  margin-right: 160px;
}
.contato {
  margin-left: -65px;
  display: flex;
  flex-direction: column;
  color: #b2b2b2;
}
.contato h2 {
  margin-top: 80px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 200;
  margin-left: 20px;
}
.redes {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.fone-email {
  max-width: 20ch;
  padding: 0 20px;
}
.endereco {
  padding: 20px;
  border-top: 2px solid #111111;
  border-bottom: 2px solid #111111;
}
.informacao {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-top: 40px;
  color: #b2b2b2;
}

.informacao h2 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 200;
  margin-top: 40px;
}
.informacao li {
  list-style-type: none;
}
.rodape {
  color: #b2b2b2;
  margin-top: 340px;
}

/* PAGINA BICICLETAS */

.content-Bikepg {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  background-color: #111111;
}
.content-entrada {
  max-width: 1460px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-left: 220px;
}
.content-Bikes {
  max-width: 1460px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin: 0 auto;
}

.entrada {
  margin-left: 220px;
  line-height: 0px;
  padding: 20px;
}
.entrada p {
  font-size: 64px;
  font-weight: 600;
}
.entrada h2 {
  color: #b2b2b2;
  font-size: 30px;
  font-weight: 500;
}
.NossasBikes {
  display: flex;
  gap: 40px;
}
.NossasBikesMagic {
  display: flex;
  background-color: #111111;
  border-radius: 4px;
  position: relative;
}
.imgBikeNimbus {
  position: relative;
  left: -250px;
  display: flex;
  align-self: center;
}
.imgBikeMagic {
  position: relative;
  left: -250px;
  display: flex;
  align-self: center;
}
.imgBikeCosmic {
  position: relative;
  left: -250px;
  display: flex;
  align-self: center;
}
.conteudoNimbus {
  display: flex;
  color: #000000;
  flex-direction: column;
}
.conteudoMagic {
  display: flex;
  color: #000000;
  flex-direction: column;
}
.conteudoNimbus h1 {
  font-size: 36px;
  font-weight: 600;
  margin-left: 40px;
}
.conteudoMagic h1 {
  font-size: 36px;
  font-weight: 600;
  margin-left: 40px;
  color: white;
}
.conteudoNimbus p {
  max-width: 45ch;
  color: #595959;
  font-size: 18px;
  margin-left: 40px;
}
.conteudoMagic p {
  max-width: 45ch;
  color: #b2b2b2;
  font-size: 18px;
  margin-left: 40px;
}
.listNimbus ul {
  list-style-type: none;
  color: #595959;
  margin-right: 50px;
}

.conteudoNimbus a {
  background: linear-gradient(to right, #ffbf00, #f2a50c);
  color: #332200;
  display: flex;
  flex-direction: row-reverse;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 20px;
  margin-bottom: 60px;
  margin-left: auto;
  border-radius: 4px;
  text-decoration: none;
}
.conteudoMagic a {
  background: linear-gradient(to right, #ffbf00, #f2a50c);
  display: flex;
  color: #332200;
  flex-direction: row-reverse;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 20px;
  margin-bottom: 60px;
  margin-left: auto;
  border-radius: 4px;
  text-decoration: none;
}

.bikeEletrica {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
.carbono {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
.velocidade {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
.rastreadorBike {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
}

/* pg botão MAIS SOBRE */

.container-maisSobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  background-color: #111111;
}

.content-maisSobre {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  margin-left: 420px;
  background-color: #111111;
}

.bikes-content {
  display: flex;
  gap: 40px;
}

.precoTittle {
  background: #111111;
}

.img-row {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.precoTittle p {
  font-size: 36px;
  color: #b2b2b2;
  margin-bottom: -60px;
}

.precoTittle h2 {
  font-size: 64px;
}

.first-img {
  margin-bottom: -5px;
}

.second-img,
.third-img {
  max-width: 270px;
}
.infoBike p {
  color: #b2b2b2;
  max-width: 42ch;
  font-size: 24px;
  margin-bottom: 42px;
}
.entrega-estoque {
  display: flex;
  gap: 20px;
  position: relative;
}
.entrega-estoque a {
  font-size: 18px;
  margin-bottom: auto;
  padding: 15px 20px;
  border-radius: 4px;
  background: linear-gradient(to right, #ffbf00, #f2a50c);
  text-decoration: none;
  color: #332200;
  font-weight: 700;
}
.entrega-estoque span {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
  gap: 40px;
  border-radius: 5px;
  padding: 5px 10px;
  padding-left: 30px;
  background-color: #000000;
  color: #b2b2b2;
}

.detalhes-entrega-estoque {
  position: relative;
}

.detalhes-entrega-estoque::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 30px;
  background-image: url(./img/icones/entrega.svg);
  background-repeat: no-repeat;
  top: 6px;
  left: 8px;
}
.detalhes-entrega-estoque::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 30px;
  background-image: url(./img/icones/estoque.svg);
  background-repeat: no-repeat;
  top: 38px;
  left: 8px;
}

.titleOpcoes {
  color: #ffffff;
  display: block;
  font-weight: 400;
  margin-top: 10px;
}

.opcoesBike {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  background-color: #000000;
  border-radius: 4px;
  max-width: 30ch;
}

.opcoesBike img {
  max-width: 24px;
}
.opcoesBike h2 {
  color: #ffffff;
  font-size: 18px;
}

.opcoesBike p {
  font-size: 14px;
  margin: 5px;
}

.info1,
.info2 {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-bottom: 5px;
}

.fichaTecnica {
  color: #b2b2b2;
  padding: 20px;
  background-color: #000000;
  margin-top: 5px;
  border-radius: 4px;
}

.fichaTecnica ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  gap: 200px;
  padding: 10px;
  border-bottom: 1px solid #111111;
  font-size: 18px;
}
.titlefichaTecnica h2 {
  margin-top: 50px;
  color: #ffffff;
  font-weight: 200;
  font-size: 16px;
}
.fichaTecnica ul:last-child {
  border-bottom: none;
}

/* ESCOLHA A SUA PG MAIS SOBRE */

.content-Escolha {
  display: flex;
  max-width: 1460px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 150px;
}

.content-Escolha {
  position: relative;
}

.titleMaisSobre2 {
  font-size: 50px;
  margin-left: 220px;
  color: #000000;
}
.conteudoMaisSobre img {
  max-width: 560px;
}
.conteudoMaisSobre h3 {
  padding: 20px;
  margin: 0px;
  font-size: 28px;
  margin-left: auto;
  color: #111111;
}

.conteudoMaisSobre span {
  color: #595959;
  margin-left: 20px;
  font-size: 20px;
  font-weight: 600;
}

.conteudoMaisSobre::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url(./img/Rectangle\ 35.svg);
  background-repeat: no-repeat;
  top: 385px;
  left: auto;
}

/* img seguros */

.contentSeguroImg {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 100px;
}

.textSeguroImg {
  padding: 20px;
  position: relative;
  z-index: 1;
}
.textSeguroImg h2 {
  color: #ffffff;
  max-width: 15ch;
  font-size: 64px;
  line-height: 1.1;
}
.textSeguroImg p {
  color: #b2b2b2;
  margin-top: 32px;
  max-width: 40ch;
  font-size: 24px;
  line-height: 1.2;
}
.textSeguroImg span {
  font-weight: 600;
  padding: 10px 20px;
  background: linear-gradient(to right, #ffbf00, #f2a50c);
  color: #332200;
  font-size: 18px;
  border-radius: 4px;
}

/* Configuração Img */

.seguro-img {
  display: block;
  margin: -80px auto; /* Ajuste conforme necessário para ultrapassar o topo e o bottom */
}
